<h1><span class="glyphicon glyphicon-fire" aria-hidden="true" id="flamelogo"></span>&nbsp; Top Rated Wings</h1>

<hr>

<div class="list-group">
	{{# each wings }}
		<a href="/places/{{ this.placeId }}/wings/{{ this.wingId }}" class="list-group-item">
			<strong>{{ this.wingName }} 
			{{# if this.rating }}
				<span class="badge">{{ this.rating }}</span>
			{{else}}
				<span class="badge">New</span>
			{{/if}}
			</strong> - {{ this.place }}, {{ this.city }} {{ this.state }} 
			
		</a>
	{{/each}}
</div>
