<h1><span class="glyphicon glyphicon-fire" aria-hidden="true" id="flamelogo"></span>&nbsp; Top Rated Wings</h1>

<hr>

<div class="list-group">
	{{# each wings }}
		<a href="/places/{{ this.placeId }}/wings/{{ this.wingId }}" class="list-group-item">
			<strong>{{ this.wingName }} <span class="badge">{{ this.rating }}</span></strong> - {{ this.place }}, {{ this.location }} 
			
		</a>
	{{/each}}
</div>
