<h1>{{place.placeName}}</h1>
<p class="lead">{{place.location}}</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formModal">
  Add Wing
</button>

<hr>

{{#if wings}}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Wings</h4>
		</div>

		<div class="list-group">
			{{# each wings }}
				<a href="/places/{{ this.placeId }}/wings/{{ this.wingId }}" class="list-group-item">
					<strong>{{ this.wingName }} 
						{{# if this.rating }}
							<span class="badge">{{ this.rating }}</span>
						{{else}}
							<span class="badge">New</span>
						{{/if}}
					</strong>
				</a>
			{{/each}}
		</div>
	</div>
{{else}}
	<h3>No Wings Yet</h3>
{{/if}}

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<form method="POST" action="/places/{{place.placeId}}/wings">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="formModalLabel">Add New Wing for {{place.placeName}}</h4>
		      </div>
		      <div class="modal-body">
		         <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Wing name" required>
                </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save</button>
		      </div>
	    </form>  
    </div>
  </div>
</div>